<?xml version="1.0" encoding="UTF-8"?>
<com:modelEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:com="http://www.mslv.com/studio/core/model/common" xmlns:data="http://www.oracle.com/communications/studio/core/model/common/data" xmlns:inv="http://www.mslv.com/studio/inventory/model/specification" xmlns="http://www.mslv.com/studio/inventory/model/specification" xmlns:layout="http://xmlns.oracle.com/communications/sce/poms/model/layout" xmlns:poms="http://xmlns.oracle.com/communications/sce/poms/model/poms" xsi:type="inv:ServiceSpecificationType" name="Broadband_CFS">
  <com:saveVersion>9</com:saveVersion>
  <com:baseEntityRef>
    <com:entity>Service</com:entity>
    <com:entityType>inventoryEntity</com:entityType>
    <com:relationship>unknown</com:relationship>
  </com:baseEntityRef>
  <com:id>AP3sJohoR3i3fehtyET9aA</com:id>
  <com:genericModelRef>
    <com:entity>Broadband_CFS</com:entity>
    <com:entityType>custSrvc</com:entityType>
    <com:relationship>oracle.communications.sce.common.entity.service.relalizationRef</com:relationship>
  </com:genericModelRef>
  <data:dataElementNode virtual="true">
    <com:id>AP3sJohoR3i3fehtyET9aA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElement</com:elementType>
    <data:name>Broadband_CFS</data:name>
    <data:displayName lang="[default]">Broadband_CFS</data:displayName>
    <data:dataElement virtual="false">
      <com:id>eYymJ2QrR-2v3t0yYCTjeg</com:id>
      <com:elementType>oracle.communications.studio.model.data.StudioModelDataElement</com:elementType>
      <data:name>PayType</data:name>
      <data:displayName lang="[default]">Pay Type</data:displayName>
      <data:displayName lang="en"></data:displayName>
      <data:baseElement>
        <com:entity>Broadband_CFS</com:entity>
        <com:entityType>xsd</com:entityType>
        <com:relationship>oracle.communications.studio.model.data.baseType</com:relationship>
        <com:element>PayType</com:element>
        <com:elementType>com.mslv.studio.core.data.dictionary.node</com:elementType>
        <com:elementName>PayType</com:elementName>
      </data:baseElement>
      <data:primitiveType>string</data:primitiveType>
    </data:dataElement>
    <data:primitiveType>none</data:primitiveType>
  </data:dataElementNode>
  <data:dataElementDetails xsi:type="data:dataElementCommonDetail">
    <com:id>TQmS2N6kSvyzp-wWtAbDKw</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementCommonDetails</com:elementType>
    <data:dataElementId>AP3sJohoR3i3fehtyET9aA</data:dataElementId>
    <data:defaultValue></data:defaultValue>
    <data:key></data:key>
    <data:deprecated>false</data:deprecated>
    <data:sensitive>false</data:sensitive>
    <data:minLength>0</data:minLength>
    <data:maxLength>40</data:maxLength>
    <data:minMultiplicity>0</data:minMultiplicity>
    <data:maxMultiplicity>-1</data:maxMultiplicity>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="layout:uiConfigurationType">
    <com:id>3rGMcqw+R3yTJntqkWJAOA</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.LayoutDetailType</com:elementType>
    <data:dataElementId>AP3sJohoR3i3fehtyET9aA</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementCommonDetail">
    <com:id>6WYLKyC2SLSMal5MHnZ51g</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementCommonDetails</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
    <data:key></data:key>
    <data:deprecated>false</data:deprecated>
    <data:internal>false</data:internal>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementEnumerationDetail">
    <com:id>b2Uf4Dx1TRiSLcKmN1kcZA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementEnumeration</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementInformationDetails">
    <com:id>hWFbaEIlRS20Hn5sWyKgVA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementInformation</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="layout:hintDetail">
    <com:id>MdfBTH1rQMS36BprANQlrA</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.UIHintsDetail</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
    <layout:hints/>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="poms:valueComplexType" linkEnabled="false" overrideDictionaryValues="false" queryEnabled="false" valueEnabled="false">
    <com:id>iyFj5JN4SAa2YoyPnB80Cg</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.ValueElementDetail</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="inv:CharElementDetailType">
    <com:id>odZjDG3ESSKQjI+EgkD+Wg</com:id>
    <com:elementType>oracle.communications.studio.inventory.model.data.StudioModelDataElementCharDetailType</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
    <inv:startTimestamp>0</inv:startTimestamp>
    <inv:endTimestamp>0</inv:endTimestamp>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementTagDetails">
    <com:id>rV2DOCH7Sligu6u+ThfW2g</com:id>
    <com:elementType>oracle.communications.studio.model.tag.StudioModelTagDetails</com:elementType>
    <data:dataElementId>eYymJ2QrR-2v3t0yYCTjeg</data:dataElementId>
    <data:tags>
      <data:id>oracle.communications.studio.inventory.dataelement.characteristic</data:id>
      <data:name>Characteristic</data:name>
    </data:tags>
  </data:dataElementDetails>
  <inv:relatedSpecification>
    <com:entity>Address</com:entity>
    <com:entityType>place</com:entityType>
    <com:relationship>Broadband_CFS To Address</com:relationship>
    <inv:data xsi:type="inv:SpecificationRelationshipReferenceDataType">
      <inv:relationship>CHILD</inv:relationship>
      <inv:status>ACTIVE</inv:status>
      <inv:parentsToChildMin>1</inv:parentsToChildMin>
      <inv:parentsToChildMax>1</inv:parentsToChildMax>
    </inv:data>
  </inv:relatedSpecification>
  <inv:relatedSpecification>
    <com:entity>Party</com:entity>
    <com:entityType>party</com:entityType>
    <com:relationship>Broadband_CFS To Party</com:relationship>
    <inv:data xsi:type="inv:SpecificationRelationshipReferenceDataType">
      <inv:relationship>CHILD</inv:relationship>
      <inv:status>ACTIVE</inv:status>
      <inv:parentsToChildMin>1</inv:parentsToChildMin>
      <inv:parentsToChildMax>1</inv:parentsToChildMax>
    </inv:data>
  </inv:relatedSpecification>
  <inv:rule>
    <com:entity>GET_ENTITY_ACTION_INSTEAD_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:rule>
    <com:entity>BI_SUSPEND_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:rule>
    <com:entity>BI_RESUME_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:allowsConsumption>true</inv:allowsConsumption>
  <inv:consumes>true</inv:consumes>
  <inv:inventoryConfig>
    <com:entity>Broadband_CFS_SC</com:entity>
    <com:entityType>configuration</com:entityType>
    <com:relationship>com.mslv.studio.inventory.service.inventoryConfigRef</com:relationship>
  </inv:inventoryConfig>
</com:modelEntity>