<?xml version="1.0" encoding="UTF-8"?>
<com:modelEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:com="http://www.mslv.com/studio/core/model/common" xmlns:data="http://www.oracle.com/communications/studio/core/model/common/data" xmlns:inv="http://www.mslv.com/studio/inventory/model/specification" xmlns="http://www.mslv.com/studio/inventory/model/specification" xmlns:layout="http://xmlns.oracle.com/communications/sce/poms/model/layout" xmlns:poms="http://xmlns.oracle.com/communications/sce/poms/model/poms" xsi:type="inv:ServiceSpecificationType" name="MobileInternet_CFS">
  <com:saveVersion>4</com:saveVersion>
  <com:baseEntityRef>
    <com:entity>Service</com:entity>
    <com:entityType>inventoryEntity</com:entityType>
    <com:relationship>unknown</com:relationship>
  </com:baseEntityRef>
  <com:id>Hox1OCZdTLum87VrNupoQA</com:id>
  <data:dataElementNode virtual="true">
    <com:id>Hox1OCZdTLum87VrNupoQA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElement</com:elementType>
    <data:name>MobileInternet_CFS</data:name>
    <data:displayName lang="[default]">MobileInternet_CFS</data:displayName>
    <data:dataElement virtual="false">
      <com:id>lLsHmphMTduRshDS-PLIAw</com:id>
      <com:elementType>oracle.communications.studio.model.data.StudioModelDataElement</com:elementType>
      <data:name>PayType</data:name>
      <data:displayName lang="[default]">Pay Type</data:displayName>
      <data:displayName lang="en"></data:displayName>
      <data:baseElement>
        <com:entity>MobileInternet</com:entity>
        <com:entityType>xsd</com:entityType>
        <com:relationship>oracle.communications.studio.model.data.baseType</com:relationship>
        <com:element>PayType</com:element>
        <com:elementType>com.mslv.studio.core.data.dictionary.node</com:elementType>
        <com:elementName>PayType</com:elementName>
      </data:baseElement>
      <data:primitiveType>string</data:primitiveType>
    </data:dataElement>
    <data:dataElement virtual="false">
      <com:id>s+UhEGJXT6Oohrb0tgK1oA</com:id>
      <com:elementType>oracle.communications.studio.model.data.StudioModelDataElement</com:elementType>
      <data:name>ServicePlan</data:name>
      <data:displayName lang="[default]">Service Plan</data:displayName>
      <data:displayName lang="en"></data:displayName>
      <data:baseElement>
        <com:entity>MobileInternet</com:entity>
        <com:entityType>xsd</com:entityType>
        <com:relationship>oracle.communications.studio.model.data.baseType</com:relationship>
        <com:element>ServicePlan</com:element>
        <com:elementType>com.mslv.studio.core.data.dictionary.node</com:elementType>
        <com:elementName>ServicePlan</com:elementName>
      </data:baseElement>
      <data:primitiveType>string</data:primitiveType>
    </data:dataElement>
    <data:primitiveType>none</data:primitiveType>
  </data:dataElementNode>
  <data:dataElementDetails xsi:type="data:dataElementCommonDetail">
    <com:id>lYiTx-fFRkGSsYWZs8xgaw</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementCommonDetails</com:elementType>
    <data:dataElementId>Hox1OCZdTLum87VrNupoQA</data:dataElementId>
    <data:defaultValue></data:defaultValue>
    <data:key></data:key>
    <data:deprecated>false</data:deprecated>
    <data:sensitive>false</data:sensitive>
    <data:minLength>0</data:minLength>
    <data:maxLength>40</data:maxLength>
    <data:minMultiplicity>0</data:minMultiplicity>
    <data:maxMultiplicity>-1</data:maxMultiplicity>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="layout:uiConfigurationType">
    <com:id>sA5K6xxBRai+QpVKQ-4eYw</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.LayoutDetailType</com:elementType>
    <data:dataElementId>Hox1OCZdTLum87VrNupoQA</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementCommonDetail">
    <com:id>op7uGy82RSyersNIudbLJA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementCommonDetails</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
    <data:key></data:key>
    <data:deprecated>false</data:deprecated>
    <data:internal>false</data:internal>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementEnumerationDetail">
    <com:id>BsMikPEmTy2BFANTFwpKkA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementEnumeration</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementInformationDetails">
    <com:id>z3Vp2K6KRya4CXQmGhpoFQ</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementInformation</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="layout:hintDetail">
    <com:id>H4PIJNfQRBi41L5ZAsjrjA</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.UIHintsDetail</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
    <layout:hints/>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="poms:valueComplexType" linkEnabled="false" overrideDictionaryValues="false" queryEnabled="false" valueEnabled="false">
    <com:id>v3YBK8zWQ8au5Tg4wZb7NA</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.ValueElementDetail</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="inv:CharElementDetailType">
    <com:id>qjyFtq83Tiuwu6HH2rNg5A</com:id>
    <com:elementType>oracle.communications.studio.inventory.model.data.StudioModelDataElementCharDetailType</com:elementType>
    <data:dataElementId>lLsHmphMTduRshDS-PLIAw</data:dataElementId>
    <inv:startTimestamp>0</inv:startTimestamp>
    <inv:endTimestamp>0</inv:endTimestamp>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementCommonDetail">
    <com:id>2zQxcAbuTkWCrpd59khPoA</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementCommonDetails</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
    <data:key></data:key>
    <data:deprecated>false</data:deprecated>
    <data:internal>false</data:internal>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementEnumerationDetail">
    <com:id>LoZ1v2cOQxC6+CFReh7U8w</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementEnumeration</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="data:dataElementInformationDetails">
    <com:id>sdHBbcZZSea1wiZLC4HKRg</com:id>
    <com:elementType>oracle.communications.studio.model.data.StudioModelDataElementInformation</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="layout:hintDetail">
    <com:id>dtItRnkGS8yxGx1S+fpgXQ</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.UIHintsDetail</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
    <layout:hints/>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="poms:valueComplexType" linkEnabled="false" overrideDictionaryValues="false" queryEnabled="false" valueEnabled="false">
    <com:id>s-RgcO0pT+SXriDjlQ9Ffg</com:id>
    <com:elementType>oracle.communications.sce.poms.model.data.ValueElementDetail</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
  </data:dataElementDetails>
  <data:dataElementDetails xsi:type="inv:CharElementDetailType">
    <com:id>xFoFErs0T166-toSqy0kuQ</com:id>
    <com:elementType>oracle.communications.studio.inventory.model.data.StudioModelDataElementCharDetailType</com:elementType>
    <data:dataElementId>s+UhEGJXT6Oohrb0tgK1oA</data:dataElementId>
    <inv:startTimestamp>0</inv:startTimestamp>
    <inv:endTimestamp>0</inv:endTimestamp>
  </data:dataElementDetails>
  <inv:relatedSpecification>
    <com:entity>Party</com:entity>
    <com:entityType>party</com:entityType>
    <com:relationship>MobileInternet_CFS To Party</com:relationship>
    <inv:data xsi:type="inv:SpecificationRelationshipReferenceDataType">
      <inv:relationship>CHILD</inv:relationship>
      <inv:status>ACTIVE</inv:status>
      <inv:parentsToChildMin>1</inv:parentsToChildMin>
      <inv:parentsToChildMax>1</inv:parentsToChildMax>
    </inv:data>
  </inv:relatedSpecification>
  <inv:relatedSpecification>
    <com:entity>Address</com:entity>
    <com:entityType>place</com:entityType>
    <com:relationship>MobileInternet_CFS To Address</com:relationship>
    <inv:data xsi:type="inv:SpecificationRelationshipReferenceDataType">
      <inv:relationship>CHILD</inv:relationship>
      <inv:status>ACTIVE</inv:status>
      <inv:parentsToChildMin>1</inv:parentsToChildMin>
      <inv:parentsToChildMax>1</inv:parentsToChildMax>
    </inv:data>
  </inv:relatedSpecification>
  <inv:rule>
    <com:entity>GET_ENTITY_ACTION_INSTEAD_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:rule>
    <com:entity>MOBILE_SUSPEND_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:rule>
    <com:entity>MOBILE_RESUME_RSEP</com:entity>
    <com:entityType>rst</com:entityType>
    <com:relationship>com.mslv.studio.inventory.specification.REL_RULE_TRIGGER</com:relationship>
  </inv:rule>
  <inv:inventoryConfig>
    <com:entity>MobileInternet_CFS_SC</com:entity>
    <com:entityType>configuration</com:entityType>
    <com:relationship>com.mslv.studio.inventory.service.inventoryConfigRef</com:relationship>
  </inv:inventoryConfig>
</com:modelEntity>